name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: poker_prob
            asset_name: poker-prob-linux-amd64
          - os: windows-latest
            artifact_name: poker_prob.exe
            asset_name: poker-prob-windows-amd64
          - os: macos-latest
            artifact_name: poker_prob
            asset_name: poker-prob-macos-amd64

    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --release
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.RELEASE_TOKEN }}
        id: bump_version
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.RELEASE_TOKEN }}
          file: target/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ steps.tag_version.outputs.new_tag }}
